*{
    margin: 0%;
    padding: 0%;
}
.headers{
    display: flex;
}
h1{
    display: flex;
}
.heading-image{
    width: 1000px;
    margin-left: 300px;
}
.links{
    display: flex;
}
.navtags{
    display:flex;
}
